* {
  margin: 0px;
  padding: 0px;
}

body {
  height:100%;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar {
  background-color: #1c1c1c;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(15, 26, 109);
}

.logo {
  width: 50px;
  height: auto;
}

.SUbutton {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(15, 26, 109);
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 30px;
  transform: 0.4s;
}

.SUbutton:hover {
  background-color: rgb(15, 26, 109);
  transform: scale(1.2);
}



.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.5)), url(hero.jpg);  position: relative;
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 30px;
}


.content {
  max-width: 60%;
  color: #fff;
  position: relative;
  z-index: 2;
}


.content p {
  font-size: 40px;
  font-weight: 700;
  color: rgb(15, 26, 109);
}

.content h1 {
  font-size: 50px;
  line-height: 1.2;
}

strong {
  color: rgb(15, 26, 109);
}









.watch-btn {
  margin-top: 2rem; 
  border: 2px solid rgb(15, 26, 109);
  color: #fff;
  font-size: 16px;
  padding: 15px 40px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.4s;

}

.watch-btn:hover {
  background-color: rgb(15, 26, 109);
  transform: scale(1.2);
}


.feature-heading {
  color: white;
  background-color: black;
  text-align: center;
  padding: 15px;
}

.movie-container {
  background-color: black;
  display: flex; 
  justify-content: space-between; 
  align-items: stretch; 
}


.moviebanners img {
  width: 100%; 
  height: 500px; 
  border-radius: 20px;
}


.movie-description {
  padding:20px;
  color:white;
  text-align: center;
}
