* {
  margin: 0px;
  padding: 0px;
}

body {
  height:100%;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar {
  background-color: #1c1c1c;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(15, 26, 109);
}

.logo {
  width: 50px;
  height: auto;
}

.SUbutton {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(15, 26, 109);
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.SUbutton:hover {
  background-color: rgb(15, 26, 109);
}



.hero {
  background: url('hero.jpg');
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 30px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.518);
  z-index: 1;
}

.content {
  max-width: 60%;
  color: #fff;
  position: relative;
  z-index: 2;
}


.content p {
  font-size: 40px;
  font-weight: 700;
  color: rgb(15, 26, 109);
}

.content h1 {
  font-size: 50px;
  line-height: 1.2;
}

strong {
  color: rgb(15, 26, 109);
}


.watch-btn {
  margin-top: 2rem; 
  border: 2px solid rgb(15, 26, 109);
  color: #fff;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
}

.watch-btn:hover {
  background-color: rgb(15, 26, 109);

}


.feature-heading {
  color: white;
  background: url('space\ background.jpg');
  text-align: center;
  padding: 15px;
}

.movie-container {
  background: url('space\ background.jpg');
  display: flex; 
  justify-content: space-between; 
  align-items: stretch; 
}


.moviebanners img {
  width: 100%; 
  height: 100%; 
  height: 500px; 
  border-radius: 20px;
}

.movie-description {
  padding:20px;
  color:white;
  text-align: center;
}