<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Flix</title>
    <link rel="icon" href="/Assignment 2/static/logotab.png" type="png">
    <link rel="stylesheet" href="/Assignment 2/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
</head>

<body>

    <header>
        <div class="navbar">
            <a href=""><img src="/Assignment 2/static/logo.png" class="logo"></a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">New Movies</a></li>
                <li><a href="">TV Shows</a></li>
                <li><a href="">Actors</a></li>
                <li><button class="su-button">SIGN UP</button></li>
                <li><button class="su-button">SIGN IN</button></li>
            </ul>
        </div>
    </header>

    <div class="hero">
        <div class="content">
            <p>🎞️ STREAM FLIX 🎞️</p>
            <h1>Watch <strong>FREE</strong> Movies, TV Shows, & More.</h1>
            <h2>Transformers - Press to WATCH NOW 🍿</h2>
            <button class="watch-btn" type="button">WATCH NOW!</button>
        </div>
    </div>

    <div class="feature-heading">
        <h1>🎬 Featured Movies 🎥</h1>
    </div>

    <div class="movie-container">
        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers1.png">
            </div>
            <div class="movie-description">
                <h3>Transformers</h3>
                <p>Release Date: 2007-08-2</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=OS3W5QiMC0M">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers2.png">
            </div>
            <div class="movie-description">
                <h3>Transformers: Rise of the Beasts</h3>
                <p>Release Date: 2023-06-09</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=itnqEauWQZM">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers3.jpg">
            </div>
            <div class="movie-description">
                <h3>Transformers: The Last Knight</h3>
                <p>Release Date: 2017-06-21</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=6Vtf0MszgP8">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers4.jpg">
            </div>
            <div class="movie-description">
                <h3>BumbleBee</h3>
                <p>Release Date: 2018-12-21</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=lcwmDAYt22k">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers5.webp">
            </div>
            <div class="movie-description">
                <h3>Transformers: Dark of the Moon</h3>
                <p>Release Date: 2011-06-29</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=EkqdO8dhptc">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="movie-banners">
                <img src="/Assignment 2/static/transformers6.jpg">
            </div>
            <div class="movie-description">
                <h3>Transformers: Age of Extinction</h3>
                <p>Release Date: 2014-06-27</p>
                <a class="trailer" href="https://www.youtube.com/watch?v=T9bQCAWahLk">Watch the Trailer</a>
            </div>
        </div>
    </div>


    <footer>
        <p>&copy; 2024 Stream Flix. All Rights Reserved. Made by James Cai</p>
        <p>🎬 Bringing Movies to Life, One Stream at a Time! 🍿</p>
        <p>Follow us for updates: <a href="https://twitter.com">Twitter</a> | <a
                href="https://instagram.com">Instagram</a> | <a href="https://facebook.com">Facebook</a></p>
    </footer>

</body>

</html>