<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFlixy</title>
    <link rel="stylesheet" href="/Assignment 2/static/style.css">



</head>


<body>

    <header>
        <div class="navbar">
            <a href=""><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">New Movies</a></li>
                <li><a href="">TV Shows</a></li>
                <li><a href="">Actors</a></li>
                <li><button class="SUbutton" >SIGN UP</button></li>
            </ul>
        </div>
    </header>



    <section class="hero">
        <div class="content">
            <p>STREAM FLIX</p>
            <h1>Watch <strong>FREE</strong> Movies, TV Shows, & More.</h1>
            <h2>Transformers 1 - Press to WATCH NOW</h2>
            <button class="watch-btn">Press to WATCH NOW!</button>
        </div>
    </section>




    <div class="feature-heading">
        <h1>Featured Movies</h1>
    </div>


    <div class="movie-container">
        <div class="movie-item">
            <div class="moviebanners">
                <img src="/Assignment 2/static/transformers1.png" alt="Upcoming Movie 1">
            </div>
            <div class="movie-description">
                <h3>Upcoming Movie 1</h3>
                <p>Release Date: 2024-01-01</p>
                <a href="youtube.com">Watch the Trailer</a>
            </div>
        </div>

        <div class="movie-item">
            <div class="moviebanners">
                <img src="/Assignment 2/static/transformers2.png" alt="Upcoming Movie 2">
            </div>
            <div class="movie-description">
                <h3>Upcoming Movie 2</h3>
                <p>Release Date: 2024-02-15</p>
            </div>
        </div>

        <div class="movie-item">
            <div class="moviebanners">
                <img src="/Assignment 2/static/transformers3.jpg" alt="Upcoming Movie 3">
            </div>
            <div class="movie-description">
                <h3>Upcoming Movie 3</h3>
                <p>Release Date: 2024-03-20</p>
            </div>
        </div>
    </div>










</body>

</html>